.container {
  width: 100%;
  display: flex;
  overflow: none;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.Gallery {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  margin-top: 7%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.text {
  font-size: 3rem;
  text-align: center;
  padding-top: 25px;
  padding-left: 25px;
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: 25px;
  padding-bottom: 25px;
  text-decoration: none;
  background-color: #000000;
  color: white;
}
.text1 {
  color: var(--dl-color-gray-700);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.container1 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-unit);
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 991px) {
  .Gallery {
    margin-top: 10%;
  }
  .text1 {
    text-align: center;
  }
  .container1 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .text {
    margin-top: 10%;
  }
}
@media (max-width: 767px) {
  .Gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .text1 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .container1 {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 479px) {
  .Gallery {
    padding: var(--dl-space-space-unit);
  }
  .container1 {
    grid-template-columns: 1fr;
  }
}
