.FeatureCard {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.icon {
  fill: var(--dl-color-gray-500);
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.text {
  font-family: Source Sans Pro;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.text1 {
  font-family: Source Sans Pro;
}


@media(max-width: 767px) {
  .FeatureCard {
    flex-direction: row;
  }
  .container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .container {
    flex-direction: column;
  }
}
